.navbar-brand{
  font-size: 23px;
}

hr{
  color:lightslategrey;
  margin: 0;
}

@media(max-width: 425px){
  .navbar-brand{
    font-size: 15px;
  }
}

@media(max-width: 320px){
  .navbar-brand{
    font-size: 11px;
  }
}
