<!-- Agregar participantes FORM -->
<div class="row">
  <div class="col-md-6">
    <input [(ngModel)]="participanteSeleccionado.nombre" type="text" class="form-control border-0 shadow p-3 mb-5 bg-white rounded m-1" style="font-size: 2rem" placeholder="Nombre">
  </div>
  <div class="col-md-4">
    <input [(ngModel)]="participanteSeleccionado.cantidad" type="number" class="form-control border-0 shadow p-3 mb-5 bg-white rounded m-1" style="font-size: 2rem" placeholder="¿Cuánto puso?">
  </div>
  <div class="col-md-2 text-center mb-4">
    <button (click)="agregarEditarParticipante()" class="btn btn-dark btn-circle btn-xl m-lg-3" type="button"><span class="h4 fw-bold">+</span></button>
  </div>
</div>

<!-- Participantes agregados -->
<div class="row">
  <div class="col-md-4 justify-content-center" *ngFor="let participante of participantesArray; let index = index">
    <div class="m-lg-3 shadow p-3 mb-5 bg-white rounded text-center">
      <span class="h3 fw-bold">{{participante.nombre}}</span>
      <br>
      <span class="h2">${{participante.cantidad}}</span>
    </div>
  </div>
</div>
