<div class="container">
  <nav class="navbar">
    <a class="navbar-brand" href="#">Pagame</a>
  </nav>
  <div class="row">
    <!-- Con Bootstrap dividimos la pantalla en 3 columnas, y usamos la del medio para matener el contenido centrado -->
    <div class="col-sm"></div>
    <div class="col-sm">
      <h1 class="display-2 mt-3 mb-5">Que las deudas no arruinen la amistad</h1>

      <div class="input-group input-group-lg">
        <input type="number" class="form-control" aria-describedby="inputGroup-sizing-sm">
      </div>
    </div>


    <div class="col-sm"></div>
  </div>
</div>
