<div class="container">
  <nav class="navbar">
    <a class="navbar-brand" href="#">Pagame</a>
  </nav>
  <div class="row">
    <!-- Con Bootstrap dividimos la pantalla en 3 columnas, y usamos la del medio para matener el contenido centrado -->
    <div class="col-sm"></div>

    <!-- Div Central -->
    <div class="col-sm">
      <h1 class="display-2 mt-3 mb-5">Que las deudas no arruinen la amistad</h1>

      <div class="input-group input-group-lg">
        <input type="number" class="form-control border-0 shadow p-3 mb-5 bg-white rounded" placeholder="¿Cuánto gastaron en total?">
      </div>

      <div class="text-center">
        <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" fill="currentColor" class="bi bi-arrow-down-circle-fill" viewBox="0 0 16 16">
          <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v5.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V4.5z"/>
        </svg>
      </div>

    </div>

    <div class="col-sm"></div>
  </div>
</div>
