<h1 class="display-2 mt-5 mb-5">En total gastaron <span>${{total}}</span></h1>
<h3 class="display-4 mt-5 mb-5 text-center">A repartir...</h3>

<!-- Transacciones -->
<div class="container justify-content-center" *ngFor="let transaccion of transacciones">
  <div class="row justify-content-center">
    <!-- De -->
    <div class="col justify-content-center">
      <div class="m-lg-3 shadow p-3 mb-5 bg-white rounded" style="height: 80%">
        <h1>{{transaccion.de.nombre}}</h1>
      </div>
    </div>
    <!-- Cantidad -->
    <div class="col justify-content-center">
      <h1>$ <span>{{transaccion.cantidad}}</span></h1>
      <h1><svg xmlns="http://www.w3.org/2000/svg" width="30%" height="10%" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
      </svg></h1>
    </div>
    <!-- A -->
    <div class="col justify-content-center">
      <div class="m-lg-3 shadow p-3 mb-5 bg-white rounded" style="height: 80%">
        <h1>{{transaccion.a.nombre}}</h1>
      </div>
    </div>
  </div>
</div>

<div style="height: 30px"></div>
