<section>
  <!-- Footer -->
  <footer class="text-center text-white d-flex">
    <div style="width: 100%">
      <a href='https://cafecito.app/pagamerata' rel='noopener' target='_blank'><img srcset='https://cdn.cafecito.app/imgs/buttons/button_1.png 1x, https://cdn.cafecito.app/imgs/buttons/button_1_2x.png 2x, https://cdn.cafecito.app/imgs/buttons/button_1_3.75x.png 3.75x' src='https://cdn.cafecito.app/imgs/buttons/button_1.png' alt='Si te sirvió invitame un café' /></a>
    </div>
    <div class="text-center p-3" id="textoFooter" style="color: grey">
      Hecho con ❤ por
      <a class="text-black-50" target="_blank" href="https://twitter.com/BMendibe">Bautista Mendibe</a>
    </div>
  </footer>
</section>
