h1{
  font-weight: bold;
  text-align: center
}

input{
  background-color: white;
  text-align: center;
  height: 80px;
  font-weight: normal;
  color: #999999;
}

a{
  color: #353535;
}

a:hover{
  color: black;
}
